<app-banner></app-banner>
<div style="background-image: linear-gradient(to right, #fbf7f6, #f9f4f3, #f6f0f0, #f4eded, #f1eaea, #ece5e5, #e7e0e0, #e2dbdb, #dad3d3, #d2cbcb, #cac4c3, #c2bcbb);" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 linea" style="border-right:3px solid #000;color: #000;">
                <h3 style="font-weight:bold; font-size: 2rem;text-align: center;" data-aos="fade-down" data-aos-once="false" data-aos-easing="linear" data-aos-duration="3000">GBIKERS.</h3>
            </div>
            <div class="col-md-6 text-left px-5" style="color: #000; font-size: 1.43rem;" data-aos="fade-left" data-aos-once="false" data-aos-easing="linear" data-aos-duration="3000">
                Somos una empresa importadora y comercializadora de accesorios, repuestos y lujos para motocicletas fundada en la cuidad de Bogotá. Ofrecemos una amplia gama de productos orientados a satisfacer las necesidades de nuestros clientes.
            </div>
        </div>
    </div>
</div>
<div class="text-center" style="background-image: linear-gradient(to right, #fbf7f6, #f9f4f3, #f6f0f0, #f4eded, #f1eaea, #ece5e5, #e7e0e0, #e2dbdb, #dad3d3, #d2cbcb, #cac4c3, #c2bcbb);">
    <img src="./assets/img/Foto.png" alt="" style="width: 50%;">
</div>
<div style="background-image: linear-gradient(to right, #fbf7f6, #f9f4f3, #f6f0f0, #f4eded, #f1eaea, #ece5e5, #e7e0e0, #e2dbdb, #dad3d3, #d2cbcb, #cac4c3, #c2bcbb);" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 linea" style="border-right:3px solid #000;color: #000;">
                <h3 style="font-weight:bold; font-size: 2rem;text-align: center;" data-aos="fade-down" data-aos-once="false" data-aos-easing="linear" data-aos-duration="3000">MISIÓN.</h3>
            </div>
            <div class="col-md-6 text-left px-5" style="color: #000; font-size: 1.43rem;" data-aos="fade-left" data-aos-once="false" data-aos-easing="linear" data-aos-duration="3000">
                Ser una empresa líder en la importación y comercialización de accesorios, repuestos y lujos para motocicletas, ofreciendo productos de calidad a nuestros clientes.
            </div>
        </div>
    </div>
</div>
<div style="background-image: linear-gradient(to right, #fbf7f6, #f9f4f3, #f6f0f0, #f4eded, #f1eaea, #ece5e5, #e7e0e0, #e2dbdb, #dad3d3, #d2cbcb, #cac4c3, #c2bcbb);" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 linea" style="border-right:3px solid #000;color: #000;">
                <h3 style="font-weight:bold; font-size: 2rem;text-align: center;" data-aos="fade-down" data-aos-once="false" data-aos-easing="linear" data-aos-duration="3000">VISIÓN.</h3>
            </div>
            <div class="col-md-6 text-left px-5" style="color: #000; font-size: 1.43rem;" data-aos="fade-left" data-aos-once="false" data-aos-easing="linear" data-aos-duration="3000">
                Ser una empresa en constante actualización de productos, que nos permita afianzar y ampliar nuestro liderazgo en el mercado.
            </div>
        </div>
    </div>
</div>
<div>
    <a target="blank" href="https://wa.me/573503348658"><img src="./assets/img/cotizar-x-Whatsapp.jpg" style="width: 300px; border-radius: 50px; float: right; position: fixed; bottom: 20px; right: 20px; cursor: pointer;" alt=""></a>
</div>

<app-footer></app-footer>