<div style="background-image: linear-gradient(to right, #000000, #291016, #4c1521, #711828, #971c2b, #ab1e2a, #bf2127, #d22622, #d8261e, #df2619, #e52613, #eb270a);" class="py-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm text-md-left text-center px-5 py-3" style="color: #fff">
                Calle 17 # 15 - 39 Local 101 BOGOTÁ, COLOMBIA.<br> Calle 17 # 14 - 20 Local 109 BOGOTÁ, COLOMBIA.
            </div>
            <div class="col-sm py-3 text-center" style="color: #fff;">
                <h5>G-BIKERS</h5>
                <a target="blank" href=""><img src="./assets/img/LogoYoutube.png" alt=""></a>
                &nbsp;&nbsp;&nbsp;
                <a target="blank" href="https://www.instagram.com/gbikers_/"><img src="./assets/img/instagram.png" alt=""></a>
                &nbsp;&nbsp;&nbsp;
                <a target="blank" href="https://wa.me/573503348658"><img src="./assets/img/whatsapp.png" alt=""></a>
                &nbsp;&nbsp;&nbsp;
                <a target="blank" href=""><img src="./assets/img/facebook.png" alt=""></a>
                &nbsp;&nbsp;&nbsp;
                <a target="blank" href=""><img src="./assets/img/LogoLinkedIn.png" alt=""></a>
            </div>
            <div class="col-sm text-md-right text-center px-5 py-3" style="color: #fff">
                TELÉFONO: +57 3503348658
            </div>
        </div>
    </div>
</div>