<app-banner></app-banner>
<h2 class="py-5 font-weight-bold text-center" style="color:#707070; font-size: 30px;">PRODUCTOS IMPORTADOS</h2>
<div class="container-fluid px-5">
    <div class="row mx-3" style="box-shadow: 0px 3px 6px #00000029;">
        <div class="col-md-6  d-block d-md-none">
            <img src="./assets/img/linea.png" alt="" class="img-fluid" style="height: 100%;width: 100%;">
        </div>
        <div class="col-md-6">
            <div style="padding-top: 10%;padding-left: 10%;padding-right: 29%; font-size:18px; color: #707070;">
                <h1 style="color: #000;font-weight: bold; color: #000;font-size: 30px;">LUJOS KTM</h1>
                <br>TAPA LIQUIDO REFRIGERANTE
                <br>PORTA PLACA ABATIBLE
                <br>SLIDER DE LUJO
                <br>TAPON ACEITE
                <br>PALANCA DE CAMBIOS Y FRENO
                <br>LUJO PATA LATERAL
            </div>
        </div>
        <div class="col-md-6 px-0 d-none d-md-block">
            <img src="./assets/img/Maniguetas.png" alt="" class="img-fluid" style="height: 100%;width: 100%;">
        </div>
    </div>
</div>
<div class="container-fluid px-5">
    <div class="row mx-3" style="box-shadow: 0px 3px 6px #00000029;">
        <div class="col-md-6 px-0 d-none d-md-block">
            <img src="./assets/img/Slider.png" alt="" class="img-fluid" style="height: 100%;width: 100%;">
        </div>
        <div class="col-md-6 text-right">
            <div style="padding-top: 15%;padding-left: 10%;padding-right: 29%; font-size:18px; color: #707070;" class="px-5">
                <h1 style="color: #000;font-weight: bold; color: #000;font-size: 30px;">SLIDERS PARA EJE</h1>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid px-5">
    <div class="row mx-3" style="box-shadow: 0px 3px 6px #00000029;">
        <div class="col-md-6  text-right">
            <div class="px-5" style="padding-top: 15%; padding-left: 10%; padding-right: 29%; font-size:18px; color: #707070;">
                <h1 style="color: #000;font-weight: bold; color: #000; font-size: 30px;">CORTA VIENTOS ACERBIS</h1>
            </div>
        </div>
        <div class="col-md-6 px-0 d-md-block d-none">
            <img src="./assets/img/Acerbis.png" alt="" class="img-fluid" style="height: 100%;width: 100%;">
        </div>
    </div>
</div>
<div class="container-fluid px-5">
    <div class="row mx-3" style="box-shadow: 0px 3px 6px #00000029;">
        <div class="col-md-6 px-0 d-none d-md-block">
            <img src="./assets/img/Ganchos bws.png" alt="" class="img-fluid" style="height: 100%;width: 100%;">
        </div>
        <div class="col-md-6">
            <div style="padding-top: 15%;padding-left: 10%;padding-right: 29%; font-size:18px; font-weight: lighter; color: #707070;">
                <h1 style="color: #000;font-weight: bold; font-size: 30px; color: #000">GANCHOS SCOOTER</h1>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid px-5">
    <div class="row mx-3" style="box-shadow: 0px 3px 6px #00000029;">
        <div class="col-md-6  text-right">
            <div class="px-5" style="padding-top: 15%; padding-left: 10%; padding-right: 29%; font-size:18px; color: #707070;">
                <h1 style="color: #000;font-weight: bold; color: #000; font-size: 30px;">CANDADOS</h1>
                <br>CANDADO DE DISCO CON ALARMA
                <br>CANDADO SENCILLO DE DISCO
                <br>CANDADO DE MANIGUETA
            </div>
        </div>
        <div class="col-md-6 px-0 d-md-block d-none">
            <img src="./assets/img/Candados.png" alt="" class="img-fluid" style="height: 100%;width: 100%;">
        </div>
    </div>
</div>
<div class="container-fluid px-5">
    <div class="row mx-3" style="box-shadow: 0px 3px 6px #00000029;">
        <div class="col-md-6 px-0 d-none d-md-block">
            <img src="./assets/img/Hand saver.png" alt="" class="img-fluid" style="height: 100%;width: 100%;">
        </div>
        <div class="col-md-6">
            <div style="padding-top: 15%;padding-left: 10%;padding-right: 29%; font-size:18px; font-weight: lighter; color: #707070;">
                <h1 style="color: #000;font-weight: bold; font-size: 30px; color: #000">HANDSAVERS</h1>
            </div>
        </div>

    </div>
</div>
<div class="container-fluid px-5">
    <div class="row mx-3" style="box-shadow: 0px 3px 6px #00000029;">
        <div class="col-md-6  text-right">
            <div class="px-5" style="padding-top: 15%; padding-left: 10%; padding-right: 29%; font-size:18px; color: #707070;">
                <h1 style="color: #000;font-weight: bold; color: #000; font-size: 30px;">DIRECCIONALES LED</h1>
                <br>PARA CUALQUIER TIPO DE MOTOCICLETA
            </div>
        </div>
        <div class="col-md-6 px-0 d-md-block d-none">
            <img src="./assets/img/Direccionales.png" alt="" class="img-fluid" style="height: 100%;width: 100%;">
        </div>
    </div>
</div>
<div class="container-fluid px-5">
    <div class="row mx-3" style="box-shadow: 0px 3px 6px #00000029;">
        <div class="col-md-6 px-0 d-none d-md-block">
            <img src="./assets/img/Manilares y asistente de acelerador.png" alt="" class="img-fluid" style="height: 100%;width: 100%;">
        </div>
        <div class="col-md-6">
            <div style="padding-top: 15%;padding-left: 10%;padding-right: 29%; font-size:18px; font-weight: lighter; color: #707070;">
                <h1 style="color: #000;font-weight: bold; font-size: 30px; color: #000">GRIPS PROTAPER</h1>
                <br>GRIPS PROTAPER
                <br>ASISTENTE DE ACELERADOR
            </div>
        </div>
    </div>
</div>
<h2 class="py-5 font-weight-bold text-center" style="color:#707070; font-size: 30px;">PRODUCTOS DISTRIBUIDOS</h2>
<div class="container-fluid px-5">
    <div class="row mx-3" style="box-shadow: 0px 3px 6px #00000029;">
        <div class="col-md-6  text-right">
            <div class="px-5" style="padding-top: 15%; padding-left: 10%; padding-right: 29%; font-size:18px; color: #707070;">
                <h1 style="color: #000;font-weight: bold; color: #000; font-size: 30px;">ACEITES</h1>
                <br>VALVOLINE
                <br>MOTUL
                <br>MOBIL
            </div>
        </div>
        <div class="col-md-6 px-0 d-md-block d-none">
            <img src="./assets/img/Aceites.png" alt="" class="img-fluid" style="height: 100%;width: 100%;">
        </div>
    </div>
</div>
<div class="container-fluid px-5">
    <div class="row mx-3" style="box-shadow: 0px 3px 6px #00000029;">
        <div class="col-md-6 px-0 d-none d-md-block">
            <img src="./assets/img/simoniz.png" alt="" class="img-fluid" style="height: 100%;width: 100%;">
        </div>
        <div class="col-md-6">
            <div style="padding-top: 15%;padding-left: 10%;padding-right: 29%; font-size:18px; font-weight: lighter; color: #707070;">
                <h1 style="color: #000;font-weight: bold; font-size: 30px; color: #000">PRODUCTOS MOTO BIEN</h1>
                <br>ADITIVOS
                <br>ELIMINADOR DE OLORES
                <br>LUBRICANTES
                <br>SHAMPOOS
            </div>
        </div>
    </div>
</div>
<div class="container-fluid px-5">
    <div class="row mx-3" style="box-shadow: 0px 3px 6px #00000029;">
        <div class="col-md-6  text-right">
            <div class="px-5" style="padding-top: 15%; padding-left: 10%; padding-right: 29%; font-size:18px; color: #707070;">
                <h1 style="color: #000;font-weight: bold; color: #000; font-size: 30px;">PROTECTOR DE RADIADOR</h1>
                <br>NS 200
                <br>APACHE 200
                <br>FZ 250
                <br>KTM 200/390
                <br>MT 03/07/09
                <br>KAWASAKI Z250/Z800/Z900/Z1000
            </div>
        </div>
        <div class="col-md-6 px-0 d-md-block d-none">
            <img src="./assets/img/radiadores.png" alt="" class="img-fluid" style="height: 100%;width: 100%;">
        </div>
    </div>
</div>
<div class="container-fluid px-5">
    <div class="row mx-3" style="box-shadow: 0px 3px 6px #00000029;">
        <div class="col-md-6 px-0 d-none d-md-block">
            <img src="./assets/img/manubrios.png" alt="" class="img-fluid" style="height: 100%;width: 100%;">
        </div>
        <div class="col-md-6">
            <div style="padding-top: 15%;padding-left: 10%;padding-right: 29%; font-size:18px; font-weight: lighter; color: #707070;">
                <h1 style="color: #000;font-weight: bold; font-size: 30px; color: #000">MANUBRIO PROTAPER</h1>
                <br>MAZISO
                <br>TUBULAR
                <br>3 PIEZAS
            </div>
        </div>
    </div>
</div>
<div class="container-fluid px-5">
    <div class="row mx-3" style="box-shadow: 0px 3px 6px #00000029;">
        <div class="col-md-6  text-right">
            <div class="px-5" style="padding-top: 15%; padding-left: 10%; padding-right: 29%; font-size:18px; color: #707070;">
                <h1 style="color: #000;font-weight: bold; color: #000; font-size: 30px;">PORTA CELULAR</h1>
            </div>
        </div>
        <div class="col-md-6 px-0 d-md-block d-none">
            <img src="./assets/img/Portacelular.png" alt="" class="img-fluid" style="height: 100%;width: 100%;">
        </div>
    </div>
</div>
<div class="container-fluid px-5">
    <div class="row mx-3" style="box-shadow: 0px 3px 6px #00000029;">
        <div class="col-md-6 px-0 d-none d-md-block">
            <img src="./assets/img/portaplacas.png" alt="" class="img-fluid" style="height: 100%;width: 100%;">
        </div>
        <div class="col-md-6">
            <div style="padding-top: 15%;padding-left: 10%;padding-right: 29%; font-size:18px; font-weight: lighter; color: #707070;">
                <h1 style="color: #000;font-weight: bold; font-size: 30px; color: #000">PORTA PLACAS</h1>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid px-5">
    <div class="row mx-3" style="box-shadow: 0px 3px 6px #00000029;">
        <div class="col-md-6  text-right">
            <div class="px-5" style="padding-top: 15%; padding-left: 10%; padding-right: 29%; font-size:18px; color: #707070;">
                <h1 style="color: #000;font-weight: bold; color: #000; font-size: 30px;">PUFF DE MANUBRIO</h1>
            </div>
        </div>
        <div class="col-md-6 px-0 d-md-block d-none">
            <img src="./assets/img/puff.png" alt="" class="img-fluid" style="height: 100%;width: 100%;">
        </div>
    </div>
</div>
<div class="container-fluid px-5">
    <div class="row mx-3" style="box-shadow: 0px 3px 6px #00000029;">
        <div class="col-md-6 px-0 d-none d-md-block">
            <img src="./assets/img/Manig.png" alt="" class="img-fluid" style="height: 100%;width: 100%;">
        </div>
        <div class="col-md-6">
            <div style="padding-top: 15%;padding-left: 10%;padding-right: 29%; font-size:18px; font-weight: lighter; color: #707070;">
                <h1 style="color: #000;font-weight: bold; font-size: 30px; color: #000">MANIGUETAS DE LUJO</h1>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid px-5">
    <div class="row mx-3" style="box-shadow: 0px 3px 6px #00000029;">
        <div class="col-md-6  text-right">
            <div class="px-5" style="padding-top: 15%; padding-left: 10%; padding-right: 29%; font-size:18px; color: #707070;">
                <h1 style="color: #000;font-weight: bold; color: #000; font-size: 30px;">EXPLORADORAS LED</h1>
            </div>
        </div>
        <div class="col-md-6 px-0 d-md-block d-none">
            <img src="./assets/img/Exploradoras.png" alt="" class="img-fluid" style="height: 100%;width: 100%;">
        </div>
    </div>
</div>
<div class="container-fluid px-5">
    <div class="row mx-3" style="box-shadow: 0px 3px 6px #00000029;">
        <div class="col-md-6 px-0 d-none d-md-block">
            <img src="./assets/img/brembo.png" alt="" class="img-fluid" style="height: 100%;width: 100%;">
        </div>
        <div class="col-md-6">
            <div style="padding-top: 15%;padding-left: 10%;padding-right: 29%; font-size:18px; font-weight: lighter; color: #707070;">
                <h1 style="color: #000;font-weight: bold; font-size: 30px; color: #000">MANIGUETAS BREMBO</h1>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid px-5">
    <div class="row mx-3" style="box-shadow: 0px 3px 6px #00000029;">
        <div class="col-md-6  text-right">
            <div class="px-5" style="padding-top: 15%; padding-left: 10%; padding-right: 29%; font-size:18px; color: #707070;">
                <h1 style="color: #000;font-weight: bold; color: #000; font-size: 30px;">BOMBILLOS LED</h1>
            </div>
        </div>
        <div class="col-md-6 px-0 d-md-block d-none">
            <img src="./assets/img/Bombilleria Led.png" alt="" class="img-fluid" style="height: 100%;width: 100%;">
        </div>
    </div>
</div>
<app-footer></app-footer>